---
layout: archive
title: ""
permalink: /projects/
author_profile: true
---
{% comment %} {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} {% endcomment %}


<h2>Recommender Systems in Museums and Galleries</h2><br><br>

With a fellow PhD student at the University of Manchester, we built a <br>
recommender system to create personalised curations of museum content. We worked<br>
working in collaboration with the Manchester and Whitworth Art Galleries and<br>
the Smithsonian in the U.S.<br><br>

The project involved training autoencoders to create feature representations <br>
from the digital images in the collection and applying NLP techniques to<br>
extract features from the artwork metadata. Further, it consisted of building<br>
the recommendation system - a web app - to create a personalised exhibition<br>
of the museum for each user, and carrying out a study to test its effectiveness.<br>

<br>

<b>Papers</b>

<ul>
  <li>Recommending Art Online: Investigating Engagement and Interactions with a National Public Collection. L. Hughes-N&ouml;hrer, <b>J. Carlton</b>, & C. Jay. <a href="https://scholar.google.co.uk/citations?view_op=view_citation&hl=en&user=j6aCWhwAAAAJ&citation_for_view=j6aCWhwAAAAJ:LkGwnXOMwfcC">Paper (pre-print)</a></li>
  <li>Machine Learning and Museum Collections: A Data Curation Conundrum. L. N&ouml;hrer, <b>J. Carlton</b>, & C. Jay. <a href="https://link.springer.com/chapter/10.1007%2F978-3-030-83647-4_2"><i>International Conference on Emerging Technologies and the Digital Transformation of Museums and Heritage Sites (RISE IMET), Springer, 2021</i></a></li>
</ul>