---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---
{% comment %} {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} {% endcomment %}


Recommender Systems in Museums and Galleries (April 2019 - Present)
=======
With a fellow PhD student at the University of Manchester, we're building a 
recommender system to create personalised curations of museum content. We are
working in collaboration with the Manchester and Whitworth Art Galleries and
the Smithsonian in the U.S.

The project involves training autoencoders to create feature representations
from the digital images in the collection and applying NLP techniques to
extract features from the artwork metadata. Further, it consists of building
the recommendation system - a web app - to create a personalised exhibition
of the museum for each user, and carrying out a study to test its effectiveness.
