---
layout: archive
title: ""
permalink: /projects/
author_profile: true
---
{% comment %} {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} {% endcomment %}

<b>Recommender Systems in Museums and Galleries</b> (Ongoing work)<br><br>

With a fellow PhD student at the University of Manchester, we're building a <br>
recommender system to create personalised curations of museum content. We are<br>
working in collaboration with the Manchester and Whitworth Art Galleries and<br>
the Smithsonian in the U.S.<br><br>

The project involves training autoencoders to create feature representations <br>
from the digital images in the collection and applying NLP techniques to<br>
extract features from the artwork metadata. Further, it consists of building<br>
the recommendation system - a web app - to create a personalised exhibition<br>
of the museum for each user, and carrying out a study to test its effectiveness.<br>
