---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
{% comment %} {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} {% endcomment %}

As part of my PhD studies, I have been lucky enough to work as both a<br>
Senior Teaching Assistant and a Teaching Assistant in the Department<br>
of Computer Science at The University of Manchester.

<b>Senior Teaching Assistant</b>
In this role, and aside from regular Teaching Assistant duties, I have<br>
a range of responsibilities in the day-to-day running of the courses,<br>
the designing of new material, and coordinating teams of Teaching Assistants,<br>
for the following modules:<br><br>

<b><a style="text-decoration:none" href="https://studentnet.cs.manchester.ac.uk/pgt/COMP60711/syllabus/">COMP60711:</a> Data Engineering</b> (1 semester, postgraduate)<br>
<b><a style="text-decoration:none" href="https://studentnet.cs.manchester.ac.uk/ugt/COMP16212/syllabus/">COMP16212:</a> Java II</b> (2 semesters, undergraduate)<br><br>

<b>Teaching Assistant</b>
I have also been a Teaching Assistant on several modules where I'm<br>
responsible for grading assignments and providing practical assistance<br>
in lab sessions on the following courses:<br><br>

<b><a style="text-decoration:none" href="http://syllabus.cs.manchester.ac.uk/pgt/2019/COMP61011/">COMP61011:</a> Foundations of Machine Learning</b> (1 semester, postgraduate)<br>
<b><a style="text-decoration:none" href="https://studentnet.cs.manchester.ac.uk/pgt/COMP60711/syllabus/">COMP60711:</a> Data Engineering</b> (2 semester, postgraduate)<br>
<b><a style="text-decoration:none" href="https://www.ucl.ac.uk/health-informatics/modern-information-engineering">XMCH0003:</a> Modern Information Engineering</b> (1 semester, postgraduate, jointly taught with UCL)<br>
<b><a style="text-decoration:none" href="https://studentnet.cs.manchester.ac.uk/ugt/COMP24111/syllabus/">COMP24111:</a> Machine Learning & Optimisation</b> (1 semester, undergraduate)<br>
<b><a style="text-decoration:none" href="http://syllabus.cs.manchester.ac.uk/ugt/2019/COMP35112/">COMP35112:</a> Chip Multiprocessors</b> (1 semester, undergraduate)<br>
<b><a style="text-decoration:none" href="https://studentnet.cs.manchester.ac.uk/ugt/COMP23111/syllabus/">COMP23111:</a> Database Systems</b> (1 semesters, undergraduate)<br>
<b><a style="text-decoration:none" href="http://studentnet.cs.manchester.ac.uk/syllabus/?code=COMP16121">COMP16121:</a> Java I</b> (3 semesters, undergraduate)<br>
<b><a style="text-decoration:none" href="https://studentnet.cs.manchester.ac.uk/ugt/COMP16212/syllabus/">COMP16212:</a> Java II</b> (3 semesters, undergraduate, <i>lead TA</i>)

